In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm
import seaborn as sns

In [5]:
font_path = "C:/Windows/Fonts/gulim.ttc"
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)              # 설정에 해당하는 rc params 변경

In [6]:
data_path = '../..//data/training/preprocessing/final_traveler.csv'
df = pd.read_csv(data_path)
pd.set_option('display.float_format', lambda x: f'{x:,.0f}')
print('shape:', df.shape)

shape: (2560, 80)

In [10]:
df.head()

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION_CHECK,TRAVEL_PURPOSE_22,...,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_RESIDENCE,TRAVEL_STATUS_DESTINATION,TRAVEL_STATUS_ACCOMPANY,TRAVEL_STATUS_YMD,TRAVEL_MOTIVE_1,TRAVEL_MOTIVE_2,TRAVEL_MOTIVE_3,TRAVEL_COMPANIONS_NUM
0,e_e000004,E03,e000004,3,2023-04-30,2023-05-01,NaN,서울 외 수도권 방문/수도권 거주/40세 이상/자녀동반/일반미션,3;4;11,0,...,2,5,경기도,경기,자녀 동반 여행,2023-04-29~2023-04-30,1,3,0,2
1,e_e000006,E03,e000006,21,2023-04-30,2023-05-02,NaN,경기 방문/거주지 구분 없음/39세 이하/특별미션,21;10;27,0,...,3,2,서울특별시,경기,2인 가족 여행,2023-04-30~2023-05-01,1,2,3,1
2,e_e000009,E03,e000009,2;4,2023-04-29,2023-05-01,NaN,서울 외 수도권 방문/수도권 거주/39세 이하/커플/일반미션,22;1;7,0,...,4,7,인천광역시,경기,2인 여행(가족 외),2023-04-29~2023-04-30,3,1,2,1
3,e_e000010,E01,e000010,3;6,2023-04-29,2023-05-01,NaN,서울 방문/수도권 외 거주/39세 이하/나홀로 여행/일반미션,6;3;1,0,...,5,3,경상남도,서울,나홀로 여행,2023-04-29~2023-04-30,8,1,2,0
4,e_e000011,E01,e000011,1;21,2023-04-28,2023-05-01,NaN,서울 방문/수도권 외 거주/40세 이상/커플/일반미션,6;2;24,0,...,6,6,경상남도,서울,3인 이상 여행(가족 외),2023-04-28~2023-04-30,3,7,1,3